.hero {
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $primary-background-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-mobile.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-mobile@2x.jpg');
  }
  @media screen and (min-width: ($mobile + 1)) {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: ($tablet + 1)) {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero-desktop@2x.jpg');
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  margin: 0 auto 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $general-white;
  word-wrap: break-word;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  @media screen and (min-width: $tablet) {
    width: 360px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
