.hero__button {
  @include button($pad: 10px 32px);
  transition: background-color $transition-duration $transition-function;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.send-button {
  display: block;
  margin: 0 auto;
  @include button($pad: 10px 55px);
  transition: background-color $transition-duration $transition-function;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.subscribe__button {
  @include button($pad: 10px 28px);
  @include centredFlex($type: inline-flex);
  transition: background-color $transition-duration $transition-function;

  &:hover,
  &:focus {
    color: $general-white;
    background-color: $button-hover-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__button {
  @include button(
    $pad: 6px 22px,
    $fw: 500,
    $lh: 1.62,
    $bs: none,
    $clr: $primary-text-color,
    $bc: $secondary-background-color
  );
  transition: color $transition-duration $transition-function,
    background-color $transition-duration $transition-function,
    box-shadow $transition-duration $transition-function;

  &:hover,
  &:focus {
    color: $general-white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
