.address {
  font-style: normal;
}
.address__list {
  @media screen and (max-width: ($tablet - 1)) {
    margin-bottom: 60px;
  }
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__link {
    color: $footer-contacts-color;
    transition: color $transition-duration $transition-function;

    &:hover,
    &:focus {
      color: $general-white;
    }
  }
}
